GRUPO=/home/ambsource/Desktop/so/install_test=ambsource=17/04/2016 23:32:40
BINDIR=/home/ambsource/Desktop/so/install_test/binarios=ambsource=17/04/2016 23:32:40
MAEDIR=/home/ambsource/Desktop/so/install_test/maestros=ambsource=17/04/2016 23:32:40
ARRIDIR=/home/ambsource/Desktop/so/install_test/arribados=ambsource=17/04/2016 23:32:40
DATADIR=/home/ambsource/Desktop/so/install_test/datos=ambsource=17/04/2016 23:32:40
OKDIR=/home/ambsource/Desktop/so/install_test/aceptados=ambsource=17/04/2016 23:32:40
PROCDIR=/home/ambsource/Desktop/so/install_test/procesados=ambsource=17/04/2016 23:32:40
INFODIR=/home/ambsource/Desktop/so/install_test/informes=ambsource=17/04/2016 23:32:40
LOGDIR=/home/ambsource/Desktop/so/install_test/bitacoras=ambsource=17/04/2016 23:32:40
NOKDIR=/home/ambsource/Desktop/so/install_test/rechazados=ambsource=17/04/2016 23:32:40
CONFDIR=/home/ambsource/Desktop/so/install_test/config=ambsource=17/04/2016 23:32:40
